{% load i18n %}{% autoescape off %}
{% blocktranslate %}Estás recibiendo este correo electrónico porque solicitaste un restablecimiento de contraseña para tu cuenta de usuario en{{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, ve a la siguiente página y elige una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'tienda:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Tu nombre de usuario, en caso de que lo hayas olvidado:' %} {{ user.get_username }}

{% translate "¡Gracias por utilizar nuestro sitio!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
